body {
  body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

  background-color: white;
}

<ul role="menu" style="width: 200px">
  <li role="menuitem" tabindex="0" aria-haspopup="true">View</li>
  <li role="menuitem" tabindex="0" aria-haspopup="true">
    Sort by
    <ul role="menu">
      <li role="menuitem"><a href="#menu">Name</a></li>
      <li role="menuitem"><a href="#menu">Size</a></li>
      <li role="menuitem"><a href="#menu">Item type</a></li>
      <li role="menuitem"><a href="#menu">Date modified</a></li>
    </ul>
  </li>
  <li role="menuitem"><a href="#menu">Refresh</a></li>
  <li role="menuitem"><a href="#menu">Paste</a></li>
  <li role="menuitem"><a href="#menu">Paste shortcut</a></li>
  <li role="menuitem"><a href="#menu">Screen resolution</a></li>
  <li role="menuitem"><a href="#menu">Gadgets</a></li>
  <li role="menuitem"><a href="#menu">Personalize</a></li>
</ul>
